# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.

1. –ü–æ–¥–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–∏—Ç–µ –Ω—É–∂–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å PostgreSQL
3. –°–æ–∑–¥–∞–π—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –ë–î
4. –°–æ–∑–¥–∞–π—Ç–µ –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≥—Ä—É–∑–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products`
5. –ü–æ–ª–æ–∂–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products`
6. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É

In [31]:
from postgresql_secret import pg_secret

In [32]:
pg_secret

{'db_host': '178.154.254.133',
 'db_name': 'skyeng',
 'db_password': 'readonlyuser',
 'db_port': '5432',
 'db_user': 'readonlyuser'}

In [33]:
import psycopg2

In [34]:
connection = psycopg2.connect(
                             database=pg_secret['db_name'],
                             user=pg_secret['db_user'],
                             password=pg_secret['db_password'],
                             host=pg_secret['db_host'],
                             port=pg_secret['db_port'],
                             )

cursor = connection.cursor()

In [35]:
import pandas as pd

query = "SELECT * FROM products"# –Ω–∞–ø–∏—à–∏ –∑–∞–ø—Ä–æ—Å, —Ç–≤–æ–∏—Ö –∑–Ω–∞–Ω–∏–π SQL —Ç–æ—á–Ω–æ —Ö–≤–∞—Ç–∏—Ç
cursor.execute(query) 
result = cursor.fetchall() 

cursor.description

columns = []
for desc in cursor.description:  
    columns.append(desc[0])

products = pd.DataFrame(result, columns=columns)  # –ò–∑ —Å–ø–∏—Å–∫–∞ –∫–æ—Ä—Ç–µ–∂–µ–π —Å–¥–µ–ª–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
products.head()

   invoice_id stock_code                       description  quantity price
0      489805     17109B     FLOWER FAIRY INCENSE LAVENDER         2  1.69
1      489805     17109C         FLOWER FAIRY INCENSE ROSE         3  1.69
2      489805      21485   RED SPOT HEART HOT WATER BOTTLE         9  4.95
3      489805      21034      REX CASH+CARRY JUMBO SHOPPER         1  0.95
4      489805      21622  VINTAGE UNION JACK CUSHION COVER        25  4.95

In [36]:
#–ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É
products['quantity'] = products['quantity'].astype(int)
products['price'] = products['price'].astype(int)
products['invoice_id'] = products['invoice_id'].apply(str)
products['stock_code'] = products['stock_code'].apply(str)

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

1. –ü–æ—Å—á–∏—Ç–∞–π –æ–±—â—É—é —Å—É–º–º—É –æ–ø–ª–∞—Ç –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ —Å—á–µ—Ç–∞
2. –ü–æ–ª—É—á–∏ –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –ø–æ —Ç–æ–≤–∞—Ä–∞–º
3. –û–±—ä–µ–¥–∏–Ω–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `description`, `stock_code`, `quantity`, `total`

In [37]:
products['total'] = sum(products['price'])
products.head()

,invoice_id,stock_code,description,quantity,price,total
0,489805,17109B,FLOWER FAIRY INCENSE LAVENDER,2,1,2044788
1,489805,17109C,FLOWER FAIRY INCENSE ROSE,3,1,2044788
2,489805,21485,RED SPOT HEART HOT WATER BOTTLE,9,4,2044788
3,489805,21034,REX CASH+CARRY JUMBO SHOPPER,1,0,2044788
4,489805,21622,VINTAGE UNION JACK CUSHION COVER,25,4,2044788

In [78]:
Table1 = products.groupby(['stock_code', 'description'])['price'].sum().reset_index()
Table1.head()
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–∏—Ö –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É

  stock_code                  description  price
0      10002  INFLATABLE POLITICAL GLOBE       0
1      10080     GROOVY CACTUS INFLATABLE      0
2      10109         BENDY COLOUR PENCILS      0
3      10120                 DOGGY RUBBER      0
4     10123C        HEARTS WRAPPING TAPE       0

In [79]:
# –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É
Table2 = products.groupby('description')['quantity'].sum().reset_index()
Table2.head()

                           description  quantity
0    DOORMAT UNION JACK GUNS AND ROSES       167
1             3 STRIPEY MICE FELTCRAFT       662
2        4 PURPLE FLOCK DINNER CANDLES       324
3        50'S CHRISTMAS GIFT BAG LARGE      1885
4                      ANIMAL STICKERS       385

In [80]:
# –æ–±—ä–µ–¥–∏–Ω–∏ –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É
TableGeneral=Table1.merge(Table2)
TableGeneral['total_price'] = sum(products['price'])
TableGeneral.head()

  stock_code                  description  price  quantity  total_price
0      10002  INFLATABLE POLITICAL GLOBE       0      8479      2044788
1      10080     GROOVY CACTUS INFLATABLE      0       303      2044788
2      10109         BENDY COLOUR PENCILS      0         4      2044788
3      10120                 DOGGY RUBBER      0       648      2044788
4     10123C        HEARTS WRAPPING TAPE       0       628      2044788

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É –≤ –Ω–∏—Å—Ö–æ–¥—è—â–µ–º –ø–æ—Ä—è–¥–∫–µ 
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ 
3. –°–¥–µ–ª–∞–π –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ (running total) –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞, –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–π–¥–∏ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏ –º–µ—Ç–æ–¥ –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã –≤ `pandas`. 


–ù–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ ‚Äî —ç—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–º –º—ã –≤–∏–¥–∏–º –¥–∏–Ω–∞–º–∏–∫—É –Ω–∞—Ä–∞—Å—Ç–∞–Ω–∏—è –∏–ª–∏ —É–±—ã–≤–∞–Ω–∏—è —Å—É–º–º—ã –æ—Ç –Ω–∞—á–∞–ª–∞ –æ—Ç—Å—á–µ—Ç–∞ –¥–æ –∫–æ–Ω—Ü–∞. –ü–æ–ª—É—á–∞–µ–º –º—ã —ç—Ç—É –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É, –ø—Ä–∏–±–∞–≤–ª–µ–Ω–∏–µ–º –ø–æ–æ—á–µ—Ä–µ–¥–Ω–æ –∫–∞–∂–¥–æ–≥–æ —Å–ª–µ–¥—É—é—â–µ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –∫ —Å—É–º–º–µ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö.

In [81]:
# –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º (–±–æ–ª—å—à–∏–µ –≤–≤–µ—Ä—Ö—É, –º–∞–ª–µ–Ω—å–∫–∏–µ –≤–Ω–∏–∑—É)
TableGeneral.sort_values(by='price', ascending = False, inplace=True)
print(TableGeneral)

     stock_code                          description   price  quantity  \
5309          M                               Manual  145964      9391
5311       POST                              POSTAGE   53968      5235
1862      22423             REGENCY CAKESTAND 3 TIER   38941     24139
5306         C2                             CARRIAGE   12528       249
5308        DOT                       DOTCOM POSTAGE   11901        16
...         ...                                  ...     ...       ...
2922      23281       FOLDING BUTTERFLY MIRROR RED         0      1252
2921      23280             FOLDING MIRROR HOT PINK        0       156
4705      85072       OCCASIONS GIFT CARD ASSORTMENT       0       120
2914      23271  CHRISTMAS TABLE CANDLE SILVER SPIKE       0        16
0         10002          INFLATABLE POLITICAL GLOBE        0      8479

      total_price
5309      2044788
5311      2044788
1862      2044788
5306      2044788
5308      2044788
...           ...
2922      2044788
2921      2044788
4705      2044788
2914      2044788
0         2044788

[5315 rows x 5 columns]

In [82]:
# –Ω–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 

#(–∏—Å–∫–æ–º–∞—è —á–∞—Å—Ç—å / —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ) * 100

TableGeneral['%_price'] = (TableGeneral['price'])/(TableGeneral['total_price'])*100
print(TableGeneral)

     stock_code                          description   price  quantity  \
5309          M                               Manual  145964      9391
5311       POST                              POSTAGE   53968      5235
1862      22423             REGENCY CAKESTAND 3 TIER   38941     24139
5306         C2                             CARRIAGE   12528       249
5308        DOT                       DOTCOM POSTAGE   11901        16
...         ...                                  ...     ...       ...
2922      23281       FOLDING BUTTERFLY MIRROR RED         0      1252
2921      23280             FOLDING MIRROR HOT PINK        0       156
4705      85072       OCCASIONS GIFT CARD ASSORTMENT       0       120
2914      23271  CHRISTMAS TABLE CANDLE SILVER SPIKE       0        16
0         10002          INFLATABLE POLITICAL GLOBE        0      8479

      total_price   %_price
5309      2044788  7.138344
5311      2044788  2.639296
1862      2044788  1.904403
5306      2044788  0.612680
5308      2044788  0.582016
...           ...       ...
2922      2044788  0.000000
2921      2044788  0.000000
4705      2044788  0.000000
2914      2044788  0.000000
0         2044788  0.000000

[5315 rows x 6 columns]

In [83]:
# –∏—Å–ø–æ–ª—å–∑—É–π –º–µ—Ç–æ–¥ pandas –¥–ª—è –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã
TableGeneral['cumsum_price'] =  TableGeneral['%_price'].cumsum()
print(TableGeneral)

     stock_code                          description   price  quantity  \
5309          M                               Manual  145964      9391
5311       POST                              POSTAGE   53968      5235
1862      22423             REGENCY CAKESTAND 3 TIER   38941     24139
5306         C2                             CARRIAGE   12528       249
5308        DOT                       DOTCOM POSTAGE   11901        16
...         ...                                  ...     ...       ...
2922      23281       FOLDING BUTTERFLY MIRROR RED         0      1252
2921      23280             FOLDING MIRROR HOT PINK        0       156
4705      85072       OCCASIONS GIFT CARD ASSORTMENT       0       120
2914      23271  CHRISTMAS TABLE CANDLE SILVER SPIKE       0        16
0         10002          INFLATABLE POLITICAL GLOBE        0      8479

      total_price   %_price  cumsum_price
5309      2044788  7.138344      7.138344
5311      2044788  2.639296      9.777640
1862      2044788  1.904403     11.682042
5306      2044788  0.612680     12.294722
5308      2044788  0.582016     12.876738
...           ...       ...           ...
2922      2044788  0.000000    100.000000
2921      2044788  0.000000    100.000000
4705      2044788  0.000000    100.000000
2914      2044788  0.000000    100.000000
0         2044788  0.000000    100.000000

[5315 rows x 7 columns]

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

1. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø–æ–º–µ—á–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–º –∏—Ç–æ–≥–æ–º –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 80% –∫–∞–∫ –≥—Ä—É–ø–ø—É `'A'`, –æ—Ç 80%-95% ‚Äî –∫–∞–∫ `'B'` –∏ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞–∫ `'C'`

In [84]:
def revenue(x):
    # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é
    if x <= 80:
        return 'A'
    elif x in range(80,95):
        return 'B'
    else:
        return 'C'
# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü revenue —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
TableGeneral['revenue'] = TableGeneral['cumsum_price'].apply(revenue) 
TableGeneral

,stock_code,description,price,quantity,total_price,%_price,cumsum_price,revenue
5309,M,Manual,145964,9391,2044788,7.138344,7.138344,A
5311,POST,POSTAGE,53968,5235,2044788,2.639296,9.777640,A
1862,22423,REGENCY CAKESTAND 3 TIER,38941,24139,2044788,1.904403,11.682042,A
5306,C2,CARRIAGE,12528,249,2044788,0.612680,12.294722,A
5308,DOT,DOTCOM POSTAGE,11901,16,2044788,0.582016,12.876738,A
...,...,...,...,...,...,...,...,...
2922,23281,FOLDING BUTTERFLY MIRROR RED,0,1252,2044788,0.000000,100.000000,C
2921,23280,FOLDING MIRROR HOT PINK,0,156,2044788,0.000000,100.000000,C
4705,85072,OCCASIONS GIFT CARD ASSORTMENT,0,120,2044788,0.000000,100.000000,C
2914,23271,CHRISTMAS TABLE CANDLE SILVER SPIKE,0,16,2044788,0.000000,100.000000,C
0,10002,INFLATABLE POLITICAL GLOBE,0,8479,2044788,0.000000,100.000000,C

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –ø—Ä–µ–¥—ã–¥—É—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –¥–æ—Ö–æ–¥–µ —Ç–µ–ø–µ—Ä—å –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ
3. –ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
4. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é —Å —Ç–µ–º–∏ –∂–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏, —á—Ç–æ –∏ —É –¥–æ—Ö–æ–¥–∞
5. –û—Ç–º–µ—Ç—å –≥—Ä—É–ø–ø—É

In [85]:
# –ø—Ä–æ–≤–µ–¥–∏ —Ç–µ –∂–µ –æ–ø–µ—Ä–∞—Ü–∏–∏, —á—Ç–æ –≤ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏—è—Ö, –¥–ª—è –æ—Ü–µ–Ω–∫–∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
TableGeneral['total_quantity'] = sum(products['quantity'])

TableGeneral.sort_values(by='quantity', ascending = False, inplace=True)

TableGeneral['%_quantity'] = (TableGeneral['quantity'])/(TableGeneral['total_quantity'])*100

TableGeneral['cumsum_quantity'] =  TableGeneral['%_quantity'].cumsum()
print(TableGeneral)

     stock_code                          description  price  quantity  \
4032      84077    WORLD WAR 2 GLIDERS ASSTD DESIGNS      0    105185
4751     85123A   WHITE HANGING HEART T-LIGHT HOLDER  10068     91757
3284      23843          PAPER CRAFT , LITTLE BIRDIE      2     80995
4456      84879        ASSORTED COLOUR BIRD ORNAMENT   2692     78234
2782      23166       MEDIUM CERAMIC TOP STORAGE JAR    198     77916
...         ...                                  ...    ...       ...
3796     72752A  F.FAIRY,CANDLE IN GLASS,LILY/VALLEY      4         1
3804     72754D    F FAIRY POTPOURRI CUSHIONS SUMMER      1         1
4672      85043           RED HEART CANDY POP LIGHTS      4         1
1266      21852                         EMPIRE TEDDY      6         1
3414      35950  FOLKART HEART CHRISTMAS DECORATIONS      1         1

      total_price   %_price  cumsum_price revenue  total_quantity  %_quantity  \
4032      2044788  0.000000    100.000000       C        10528705    0.999031
4751      2044788  0.492374     13.369112       A        10528705    0.871494
3284      2044788  0.000098     99.988116       C        10528705    0.769278
4456      2044788  0.131652     38.919585       A        10528705    0.743054
2782      2044788  0.009683     92.339401       C        10528705    0.740034
...           ...       ...           ...     ...             ...         ...
3796      2044788  0.000196     99.971440       C        10528705    0.000009
3804      2044788  0.000049     99.998191       C        10528705    0.000009
4672      2044788  0.000196     99.971244       C        10528705    0.000009
1266      2044788  0.000293     99.924540       C        10528705    0.000009
3414      2044788  0.000049     99.997604       C        10528705    0.000009

      cumsum_quantity
4032         0.999031
4751         1.870524
3284         2.639802
4456         3.382857
2782         4.122891
...               ...
3796       100.487657
3804       100.487667
4672       100.487676
1266       100.487686
3414       100.487695

[5315 rows x 11 columns]

In [86]:
def quantity(x):
    # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é
    if x <= 80:
        return 'A'
    elif x in range(80,95):
        return 'B'
    else:
        return 'C' 

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü popularity —Å –ø–æ–º–æ—â—å—é —Ñ—É
TableGeneral['popularity'] = TableGeneral['cumsum_quantity'].apply(quantity) 
TableGeneral

,stock_code,description,price,quantity,total_price,%_price,cumsum_price,revenue,total_quantity,%_quantity,cumsum_quantity,popularity
4032,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,C,10528705,0.999031,0.999031,A
4751,85123A,WHITE HANGING HEART T-LIGHT HOLDER,10068,91757,2044788,0.492374,13.369112,A,10528705,0.871494,1.870524,A
3284,23843,"PAPER CRAFT , LITTLE BIRDIE",2,80995,2044788,0.000098,99.988116,C,10528705,0.769278,2.639802,A
4456,84879,ASSORTED COLOUR BIRD ORNAMENT,2692,78234,2044788,0.131652,38.919585,A,10528705,0.743054,3.382857,A
2782,23166,MEDIUM CERAMIC TOP STORAGE JAR,198,77916,2044788,0.009683,92.339401,C,10528705,0.740034,4.122891,A
...,...,...,...,...,...,...,...,...,...,...,...,...
3796,72752A,"F.FAIRY,CANDLE IN GLASS,LILY/VALLEY",4,1,2044788,0.000196,99.971440,C,10528705,0.000009,100.487657,C
3804,72754D,F FAIRY POTPOURRI CUSHIONS SUMMER,1,1,2044788,0.000049,99.998191,C,10528705,0.000009,100.487667,C
4672,85043,RED HEART CANDY POP LIGHTS,4,1,2044788,0.000196,99.971244,C,10528705,0.000009,100.487676,C
1266,21852,EMPIRE TEDDY,6,1,2044788,0.000293,99.924540,C,10528705,0.000009,100.487686,C
3414,35950,FOLKART HEART CHRISTMAS DECORATIONS,1,1,2044788,0.000049,99.997604,C,10528705,0.000009,100.487695,C

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

1. –°–æ–∑–¥–∞–π —Å–µ—Ä–∏—é `group` —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
2. –ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
3. –ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?
4. –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

In [87]:
# –Ω–∞–ø–∏—à–∏ –∑–¥–µ—Å—å –∫–æ–¥ –∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏
TableGeneral['group'] = TableGeneral['revenue'] + TableGeneral['popularity']
TableGeneral.head()

,stock_code,description,price,quantity,total_price,%_price,cumsum_price,revenue,total_quantity,%_quantity,cumsum_quantity,popularity,group
4032,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,C,10528705,0.999031,0.999031,A,CA
4751,85123A,WHITE HANGING HEART T-LIGHT HOLDER,10068,91757,2044788,0.492374,13.369112,A,10528705,0.871494,1.870524,A,AA
3284,23843,"PAPER CRAFT , LITTLE BIRDIE",2,80995,2044788,0.000098,99.988116,C,10528705,0.769278,2.639802,A,CA
4456,84879,ASSORTED COLOUR BIRD ORNAMENT,2692,78234,2044788,0.131652,38.919585,A,10528705,0.743054,3.382857,A,AA
2782,23166,MEDIUM CERAMIC TOP STORAGE JAR,198,77916,2044788,0.009683,92.339401,C,10528705,0.740034,4.122891,A,CA

In [88]:
popularity_dict = {"A": "–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ", 'B': "–ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ", 'C': "–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ",}
revenue_dict = {"A": "80% ‚Äî –ø—Ä–æ–¥–∞–∂", 'B': "15% ‚Äî –ø—Ä–æ–¥–∞–∂", 'C': "5% ‚Äî –ø—Ä–æ–¥–∞–∂",}

In [89]:
TableGeneral['revenue'] = TableGeneral['revenue'].map(revenue_dict)
TableGeneral['popularity'] = TableGeneral['popularity'].map(popularity_dict)

TableGeneral['group_description'] =  TableGeneral['revenue'] + ' ' + TableGeneral['popularity']
TableGeneral

,stock_code,description,price,quantity,total_price,%_price,cumsum_price,revenue,total_quantity,%_quantity,cumsum_quantity,popularity,group,group_description
4032,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ
4751,85123A,WHITE HANGING HEART T-LIGHT HOLDER,10068,91757,2044788,0.492374,13.369112,80% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.871494,1.870524,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,AA,80% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ
3284,23843,"PAPER CRAFT , LITTLE BIRDIE",2,80995,2044788,0.000098,99.988116,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.769278,2.639802,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ
4456,84879,ASSORTED COLOUR BIRD ORNAMENT,2692,78234,2044788,0.131652,38.919585,80% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.743054,3.382857,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,AA,80% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ
2782,23166,MEDIUM CERAMIC TOP STORAGE JAR,198,77916,2044788,0.009683,92.339401,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.740034,4.122891,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,72752A,"F.FAIRY,CANDLE IN GLASS,LILY/VALLEY",4,1,2044788,0.000196,99.971440,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487657,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ
3804,72754D,F FAIRY POTPOURRI CUSHIONS SUMMER,1,1,2044788,0.000049,99.998191,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487667,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ
4672,85043,RED HEART CANDY POP LIGHTS,4,1,2044788,0.000196,99.971244,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487676,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ
1266,21852,EMPIRE TEDDY,6,1,2044788,0.000293,99.924540,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487686,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ
3414,35950,FOLKART HEART CHRISTMAS DECORATIONS,1,1,2044788,0.000049,99.997604,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487695,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ

In [90]:
group_counts = TableGeneral.groupby('group').sum().reset_index()
group_counts.head()

,group,price,quantity,total_price,%_price,cumsum_price,total_quantity,%_quantity,cumsum_quantity
0,AA,970648,3433555,826094352,47.469371,22957.939552,4253596820,32.611371,21652.309159
1,AC,665124,385025,916065024,32.527773,27646.796343,4716859840,3.656907,41763.209777
2,CA,84259,4988048,1521322272,4.120672,71217.593609,7833356520,47.375703,44933.876008
3,CC,324757,1773425,7604566572,15.882184,360204.758733,39156253895,16.843714,359302.142134

In [91]:
group_counts = TableGeneral.groupby('group_description').sum().reset_index()
group_counts.head()

,group_description,price,quantity,total_price,%_price,cumsum_price,total_quantity,%_quantity,cumsum_quantity
0,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,84259,4988048,1521322272,4.120672,71217.593609,7833356520,47.375703,44933.876008
1,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,324757,1773425,7604566572,15.882184,360204.758733,39156253895,16.843714,359302.142134
2,80% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,970648,3433555,826094352,47.469371,22957.939552,4253596820,32.611371,21652.309159
3,80% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,665124,385025,916065024,32.527773,27646.796343,4716859840,3.656907,41763.209777

In [92]:
#–ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?

#–ù–∞–∏–º–µ–Ω–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω–æ–π —è–≤–ª—è–µ—Ç—Å—è –≥—Ä—É–ø–ø–∞ –ê–ê.–°–∞–º—ã–π –Ω–∏–∑–∫–∏–π –¥–æ—Ö–æ–¥ –ø–æ –≥—Ä—É–ø–ø–∞–º –ê–ê –∏ –ê–°

In [93]:
#–ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

#

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–æ–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

1. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ `stock_code` –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `ABC-–∫–æ–¥`, –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ `ID `

2. –í—ã–≥—Ä—É–∑–∏ —Ç–∞–±–ª–∏—Ü—É –≤ `csv` –¥–ª—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –≤ –æ—Ç–¥–µ–ª –∑–∞–∫—É–ø–æ–∫

In [107]:
TableGeneral_copy = TableGeneral.copy() # —Å–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –∫–æ–ø–∏–µ–π –∏—Å—Ö–æ–¥–Ω–æ–≥–æ

In [108]:
TableGeneral_copy = pd.merge(TableGeneral_copy, 
                     products, 
                     left_on='stock_code', 
                     right_on='stock_code', 
                     how='inner')

In [109]:
TableGeneral_copy

,stock_code,description_x,price_x,quantity_x,total_price,%_price,cumsum_price,revenue,total_quantity,%_quantity,cumsum_quantity,popularity,group,group_description,invoice_id,description_y,quantity_y,price_y,total
0,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,489816,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,0,2044788
1,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,489819,WORLD WAR 2 GLIDERS ASSTD DESIGNS,96,0,2044788
2,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,490099,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,0,2044788
3,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,490100,WORLD WAR 2 GLIDERS ASSTD DESIGNS,2,0,2044788
4,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,0,105185,2044788,0.000000,100.000000,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.999031,0.999031,–Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,CA,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ,490140,WORLD WAR 2 GLIDERS ASSTD DESIGNS,6,0,2044788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009940,72752A,"F.FAIRY,CANDLE IN GLASS,LILY/VALLEY",4,1,2044788,0.000196,99.971440,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487657,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,490360,"F.FAIRY,CANDLE IN GLASS,LILY/VALLEY",1,4,2044788
1009941,72754D,F FAIRY POTPOURRI CUSHIONS SUMMER,1,1,2044788,0.000049,99.998191,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487667,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,489822,F FAIRY POTPOURRI CUSHIONS SUMMER,1,1,2044788
1009942,85043,RED HEART CANDY POP LIGHTS,4,1,2044788,0.000196,99.971244,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487676,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,493536,RED HEART CANDY POP LIGHTS,1,4,2044788
1009943,21852,EMPIRE TEDDY,6,1,2044788,0.000293,99.924540,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487686,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,492750,EMPIRE TEDDY,1,6,2044788
1009944,35950,FOLKART HEART CHRISTMAS DECORATIONS,1,1,2044788,0.000049,99.997604,5% ‚Äî –ø—Ä–æ–¥–∞–∂,10528705,0.000009,100.487695,–Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,CC,5% ‚Äî –ø—Ä–æ–¥–∞–∂ –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ,499973,FOLKART HEART CHRISTMAS DECORATIONS,1,1,2044788

In [113]:
TableGeneral_finish =TableGeneral_copy[['stock_code','group','description_x']]
TableGeneral_finish

        stock_code group                        description_x
0            84077    CA    WORLD WAR 2 GLIDERS ASSTD DESIGNS
1            84077    CA    WORLD WAR 2 GLIDERS ASSTD DESIGNS
2            84077    CA    WORLD WAR 2 GLIDERS ASSTD DESIGNS
3            84077    CA    WORLD WAR 2 GLIDERS ASSTD DESIGNS
4            84077    CA    WORLD WAR 2 GLIDERS ASSTD DESIGNS
...            ...   ...                                  ...
1009940     72752A    CC  F.FAIRY,CANDLE IN GLASS,LILY/VALLEY
1009941     72754D    CC    F FAIRY POTPOURRI CUSHIONS SUMMER
1009942      85043    CC           RED HEART CANDY POP LIGHTS
1009943      21852    CC                         EMPIRE TEDDY
1009944      35950    CC  FOLKART HEART CHRISTMAS DECORATIONS

[1009945 rows x 3 columns]

In [115]:
TableGeneral_finish.to_csv(r"C:/Users/Xenia/Desktop/–£—á—ë–±–∞/Python/10 –£–¥–∞–ª–µ–Ω–Ω—ã–µ –ë–î/—Ç–∞–±–ª–∏—Ü–∞_–Ω–∞_–≤—ã–≥—Ä—É–∑–∫—É.csv", index=False, sep=";")

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!